body {
  font-family: Arial;
  background-color: #1abc9c;

}

/* Header/Logo Title */
.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  /*font-size: 50px;.....tidak dijalankan karena huruf menggunkan element h1*/
}

.container {
	text-align: right;
}

#search {
	margin: 10px 0px 0px;
}

#img {
  padding: 10px;
}


div.gallery {
  margin: 20px 20px 0 20px  ;
  /*border: 1px solid #ccc;*/
  width: 30%;
  display: inline-block;
  background-color: #ffffff;
  box-sizing: 1px;
}

div.gallery:hover {
  /*border: 3px solid #777;*/
  background-color: #1cf414;
  text-decoration: none;  
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: left;

}

/*#1 {
  display : inline;
    font-color: yellow;
} */